* {
    margin: 0;
    padding: 0;
    font-family: 'Silkscreen', cursive;
}
.header {
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/Main\ bg.png);
    background-position: center;
    background-size: 100%;
    position: relative; 
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
    height: 100px;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.das {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1 {
    font-size: 36px;
    font-weight: 600;
}
p {
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.col {
    flex-basis: 31%;
    background: #9862FF;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.cf {
    position: relative;
    height: 100px;
    width: 200px;
    margin: 0 auto;
    left: -37px;
    top: -20px;
}

.cf img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.cf img.top:hover {
    opacity: 0;
}

.cfpop {
    position: relative;
    height: 100px;
    width: 200px;
    margin: 0 auto;
    left: 0px;
    top: 20px;
}
.cfpop img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.cfpop img.top:hover {
    opacity: 0;
}

.cfpop2 {
    position: relative;
    height: 100px;
    width: 200px;
    margin: 0 auto;
    left: 0px;
    top: 20px;
}
.cfpop2 img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.cfpop2 img.top:hover {
    opacity: 0;
}

.cfpop3 {
    position: relative;
    height: 100px;
    width: 400px;
    margin: 0 auto;
    left: 0px;
    top: 20px;
}
.cfpop3 img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.cfpop3 img.top:hover {
    opacity: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background: #3c5077;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

.popup {
    width: 400px;
    background: #91F4BD;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 98%;
    transform: translate(-50%,50%) scale(1);
}

.popup img {
    width: 200px;
    margin-top: -70px;
    border-radius: 10%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.btn2 {
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

.popup2 {
    width: 400px;
    background: #91F4BD;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup2 {
    visibility: visible;
    top: 120%;
    transform: translate(-50%,50%) scale(1);
}

.popup2 img {
    width: 430px;
    height: 85px;
    margin-top: -50px;
    margin-left: -115px;
    border-radius: 10%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popup2 h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup2 button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.btn3 {
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

.popup3 {
    width: 400px;
    background: #91F4BD;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup3 {
    visibility: visible;
    top: 95%;
    transform: translate(-50%,50%) scale(1);
}

.popup3 img {
    width: 380px;
    height: 190px;
    margin-top: -80px;
    margin-left: 10 px;
    border-radius: 5%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popup3 h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup3 button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}





.background-image {
    background-image: url("./image/tes\ bg\ 3.jpg   ");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 200vh;
}
.background-image::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: .5;
    z-index: -1;
}
.glitch {
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    left: 47%;
    text-align: center;
    transform: translate(-50%,-50%);
    color: #fff;

    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
        0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation: glitch 500ms infinite;
}

.glitch span {
    position: absolute;
    top: 0;
    left: 12.813rem;
}

.glitch span:first-child {
    animation: glitch 650ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 30%);
    transform: translate(-0.025em, 0.05em);
    opacity: 0.8;
}
.glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 80%, 75% 80%, 100% 60%, 100% 100%, 0 100%);
    transform: translate(0.025em, -0.025em);
    opacity: 0.8;
}

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
        0.025em 0.05em 0 rgba(0, 0, 255, 0.75); 
    }
    14% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
        0.025em 0.05em 0 rgba(0, 0, 255, 0.75); 
    }
    15% {
        text-shadow: 0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75); 
    }
    49% {
        text-shadow: 0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75); 
    }
    50% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75),
        0 -0.05em 0 rgba(0, 0, 255, 0.75); 
    }
    99% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75),
        0 -0.05em 0 rgba(0, 0, 255, 0.75); 
    }
    100% {
        text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em -0.05em 0 rgba(0, 0, 255, 0.75); 
    }
}

.white_bg {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;   
    border-radius: 5%;
}

.links {
    align-content: space-between;
    justify-content: space-around;
}

.links-grid {
    display: grid;
    margin: auto;
    max-width: 1000px;
    padding-block: 1rem;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.1rem;
}
.materi-links {
    background-color: aqua;
    padding: 1rem;
    border-color: #333;
    border-radius: 5px;
    height: 10rem;
    align-content: center;
    margin: 15px;
}

.grid-links-2 {
    grid-column-start: 2;
    grid-column-end: 6;
    background: linear-gradient(45deg, #fcff51, #ffaa00);
}
.grid-links-2 p {
    color: black;
    font-size: 10px;
    letter-spacing: -1px;
}
.grid-links-2 table {
    margin-top: -10px;
    margin-left:-20px;
    border-spacing: 0px;
    padding: 0px;
}
.imggg {
    border-spacing: -10px;
    padding: -60px;
    margin-left: -50px;
    margin-right: -50px;
}

.grid-links-3 {
    grid-column-start: 1;
    grid-column-end: 5;
    background: linear-gradient(45deg, #fcff51, #ffaa00);
}
.grid-links-5 {
    height: 270px;
}
.grid-links-6 {
    grid-column-start: 2;
    grid-column-end: 6;
    background: linear-gradient(45deg, #fcff51, #ffaa00);
    height: 270px;  
}
.grid-links-6 table {
    margin-left:70px;
}




.images {
    width: 80%;
    margin: auto;
    text-align: center;
}
.images-grid {
    display: grid;
    max-width: 1000px;
    padding-block: 2rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.2rem;
}
.materi-images {
    background-color: aqua;
    padding: 1rem;
    border-color: #333;
    border-radius: 15px;
    height: auto;
    align-content: center;
    margin: 0px;
}
.materi-images p, .materi-images sub{
    color:#fff;
}

.grid-images-1 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    background: linear-gradient(90deg, #000956, #7abaff);
}
.grid-images-2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    height: auto;
    background: #000956;
}
.grid-images-2 p{
    color: black;
    font-size: 12px;
}
.grid-images-3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    background: #7abaff;
}
.grid-images-3 p{
    color: black;
    font-size: 15px;
}
.grid-images-4 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    background: linear-gradient(90deg, #000956, #7abaff);
}
.grid-images-4 p{
    color: white;
}
.grid-images-5 {
    grid-column-start: 1;
    grid-column-end: 5;
    background: linear-gradient(90deg, #000956, #7abaff);
}
.grid-images-4 h3 {
    margin-top: 0;
}
.grid-images-6 {
    grid-column-start: 1;
    grid-column-end: 5;
    background: linear-gradient(90deg, #000956, #7abaff);
}
.grid-images-7 {
    grid-row-start: 7;
    grid-column-start: 1;
    grid-column-end: 4;
    background: linear-gradient(90deg, #000956, #7abaff);
}
.grid-images-7 th, .grid-images-7 h3, .grid-images-7 table {
    color: #fff;
}
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.foot {
    max-width: 100%;
    margin: auto;
}
.foot-row {
    display: flex;
    flex-wrap: wrap;
}
.footer ul {
    list-style: none;
}
.footer {
    background-color: #24262b;
    padding: 20px 0;
}
.foot-col {
    width: 25%;
    padding: 0 15px;
}
.direction {
    margin-left: 160px;
}
.foot-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.foot-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.foot-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.foot-col p{
    color: #ffffff;
}
.foot-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.foot-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}
.foot-col img {
    margin-left: 150px;
}
.footer-bottom {
    background: #000;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}
.footer-bottom p{
    margin-left: 0px;
    color: white;
    font-size: 14px;
    word-spacing: 5px;
    text-transform: capitalize;
}